<div class="layout">
  <div class="container-fluid"> 
    <div class="header">
        <div class="pageHeading">
          Saurabh Rai
        </div>
        <div class="pageSubHeading">
       New York, NY 10038 | <a  style="color: #fff;"target="_blank"  href = "mailto: saurabh.rai@pace.edu">saurabh.rai@pace.edu</a> | +1 2016809635 | <a  style="color: #fff;"target="_blank" href="https://www.linkedin.com/in/saurabh-rai">LinkedIn</a>
        </div>
    </div>

  <div>
    <mat-card class="mat-elevation-z5">
      <mat-card-header style="margin-left: -16px;">
        <mat-card-title>SUMMARY</mat-card-title>
        <mat-card-subtitle><hr/></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Passionate and dedicated graduate student currently obtaining a Master’s of Science in Computer Science seeking an
          internship for Summer 2022. 4 years of experience in software development, single page applications and excellent skills in
          Angular, HTML, React, CSS, Ionic, and JavaScript.
        </p>
      </mat-card-content>
    </mat-card>
<br/>
    <mat-card class="mat-elevation-z5">
      <mat-card-header style="margin-left: -16px;">
        <mat-card-title>EDUCATION</mat-card-title>
        <mat-card-subtitle><hr/></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row heading">
          <div class="col-lg-8">
            Pace University, Seidenberg School of Computer Science and Information Systems
          </div>
          <div class="col-lg-4"style="text-align: right;">
            New York, NY
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            Master of Science (MS) in Computer Science          
          </div>
          <div class="col-lg-4"style="text-align: right;">
            May 2023 
          </div>
        </div>
        <br/>
        <div class="row heading">
          <div class="col-lg-8">
            New Horizon College of Engineering Bangalore (NHCE)                  
          </div>
          <div class="col-lg-4"style="text-align: right;">
            Bangalore, India
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            New Horizon College of Engineering Bangalore (NHCE)          
          </div>
          <div class="col-lg-4"style="text-align: right;">
            May 2023 
          </div>
        </div>
      
      </mat-card-content>
    </mat-card>
    <br/>
    <mat-card class="mat-elevation-z5">
      <mat-card-header style="margin-left: -16px;">
        <mat-card-title>TECHNICAL SKILLS</mat-card-title>
        <mat-card-subtitle><hr/></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-lg-4 heading">
            Programming Languages:          
          </div>
          <div class="col-lg-8">
            <mat-chip-list aria-label="Fish selection">
              <mat-chip >Java</mat-chip>
              <mat-chip > C</mat-chip>
              <mat-chip >C++</mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-lg-4 heading">
            Operating Systems:        
          </div>
          <div class="col-lg-8">
            <mat-chip-list aria-label="Fish selection">
              <mat-chip >Microsoft Windows</mat-chip>
              <mat-chip > Linux</mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-lg-4 heading">
            Database:        
          </div>
          <div class="col-lg-8">
            <mat-chip-list aria-label="Fish selection">
              <mat-chip >SQL</mat-chip>
              <mat-chip > NO-SQL</mat-chip>
              <mat-chip >Oracle RDBMS</mat-chip>
              <mat-chip >AWS</mat-chip>
              <mat-chip >Azure</mat-chip>
              <mat-chip >GCP</mat-chip>
              <mat-chip >CouchDB and Pouch DB</mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-lg-4 heading">
            Web Development:          </div>
          <div class="col-lg-8">
            <mat-chip-list aria-label="Fish selection">
              <mat-chip >Angular</mat-chip>
              <mat-chip > Angular Material</mat-chip>
              <mat-chip >ReactJs</mat-chip>
              <mat-chip >Material UI</mat-chip>
              <mat-chip >JavaScript</mat-chip>
              <mat-chip >TypeScript</mat-chip>
              <mat-chip >HTML</mat-chip>
              <mat-chip >CSS</mat-chip>
              <mat-chip >SCSS</mat-chip>
              <mat-chip >Bootstrap</mat-chip>
              <mat-chip >Ionic</mat-chip>
              <mat-chip >Cordova</mat-chip>
              <mat-chip >Nodejs</mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-lg-4 heading">
            Programming Languages:          
          </div>
          <div class="col-lg-8">
            <mat-chip-list aria-label="Fish selection">
              <mat-chip >Java</mat-chip>
              <mat-chip > C</mat-chip>
              <mat-chip >C++</mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-lg-4 heading">
            Tools:          </div>
          <div class="col-lg-8">
            <mat-chip-list aria-label="Fish selection">
              <mat-chip >Git</mat-chip>
              <mat-chip > GitHub</mat-chip>
              <mat-chip >Jira</mat-chip>
              <mat-chip >Postman</mat-chip>
              <mat-chip >Insomnia</mat-chip>
              <mat-chip >Swagger</mat-chip>
              <mat-chip >keycloak</mat-chip>
              <mat-chip >VSCode</mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-lg-4 heading">
            Certifications:          
          </div>
          <div class="col-lg-8">
            <mat-chip-list aria-label="Fish selection">
              <mat-chip >Java</mat-chip>
              <mat-chip > C</mat-chip>
              <mat-chip >C++</mat-chip>
              <mat-chip >IBM Blockchain</mat-chip>
              <mat-chip >IBM Blockchain Essentials</mat-chip>
              <mat-chip >TCS IT WIZ 2010 AND 2011</mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <br/>
    <mat-card class="mat-elevation-z5">
      <mat-card-header style="margin-left: -16px;">
        <mat-card-title>ACADEMIC PROJECTS</mat-card-title>
        <mat-card-subtitle><hr/></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="heading">
          Trox(e-commerce web application)            
        </div>
        <div class="row">
          <div class="col-lg-12 list">
            Trox (Ecommerce) website offers business a whole range of opportunities, from marketing opportunities to increasing your product ranges to generating more sales and with an optimized and well developed website you can not only achieve these goals but also offer your customers  a round the clock, convenient service that can boost your business. Every customer can buy/sell their products without any middleMan, So that transaction will be transparent.
          </div>
          <div class="col-lg-12 list">
            Trox is a  business-to-consumer (websites such as Amazon), and consumer-to-consumer(websites such as ebay).
          </div>
          <div class="col-lg-12 list">
            Technology: React, Nodejs,MySql          
          </div>
          </div>      
      </mat-card-content>
    </mat-card>
    <br/>
    <mat-card class="mat-elevation-z5">
      <mat-card-header style="margin-left: -16px;">
        <mat-card-title>EXPERIENCE</mat-card-title>
        <mat-card-subtitle><hr/></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row heading">
          <div class="col-lg-8">
         <a  style="color: #000;"target="_blank" href="https://blueyonder.com/"> 
          Blue Yonder  / Yantriks India Private Limited </a>     
          </div>
          <div class="col-lg-4"style="text-align: right;">
            Bangalore, India
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            Software Engineer II         
          </div>
          <div class="col-lg-4"style="text-align: right;">
            March 2020-August 2021
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 list">
            Created e-commerce enterprise web application to configure product availability, selling channels, fulfillment types
            and optimization rules.          
          </div>
          <div class="col-lg-12 list">
            Implemented UI and business logic using React and Angular in order to increase usability of the application.          
          </div>
          <div class="col-lg-12 list">
            Executed API calls and integrated configuration for the front-end so the application could communicate with servers.          
          </div>
          <div class="col-lg-12 list">
            Proactively discussed the parallel implementation of the requirements following Agile methodology.          
          </div>
          </div>
        <br/>
        <div class="row heading">
          <div class="col-lg-8">
         <a  style="color: #000;"target="_blank" href="https://www.linkedin.com/company/crecientech/about/"> 
          Crecientech Infosystem Pvt. Ltd </a>     
          </div>
          <div class="col-lg-4"style="text-align: right;">
            Bangalore, India
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            Software Engineer      
          </div>
          <div class="col-lg-4"style="text-align: right;">
            February 2018-March 2020
          </div>
        </div>
        <div class="row">

          <div class="col-lg-12 list">
            Completed two different web application and one mobile application development projects for three different major
              clients of varying team size, scale, and requirements.         
          </div>
          <div class="col-lg-12 list">
            Created mobile application in Ionic framework to collect all information of physically and mentally challenged people
            to provide appropriate assistance needed from the government.          
          </div>
          <div class="col-lg-12 list">
            Created a web application using Angular and Nodejs for evaluating Colleges of Bangalore, Digitalization of Inspection
            scoring under the guidance of vice chancellor of Karnataka.          
          </div>
          <div class="col-lg-12 list">
            Assisted in the development of a real estate web application by independently implementing several modules
            including messaging, an analytics board, and a payment gateway.          
          </div>
          <div class="col-lg-12 list">
            Collaborated with anywhere from 2-15 other developers on any given contracted project.
          </div>
          </div>
      </mat-card-content>
    </mat-card>
    <br/>
    <mat-card class="mat-elevation-z5">
      <mat-card-header style="margin-left: -16px;">
        <mat-card-title>LANGUAGES</mat-card-title>
        <mat-card-subtitle><hr/></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          English, Hindi
        </p>
      </mat-card-content>
    </mat-card>
<br/>
    <mat-card class="mat-elevation-z5">
      <mat-card-header style="margin-left: -16px;">
        <mat-card-title>INTERESTS</mat-card-title>
        <mat-card-subtitle><hr/></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Coding, Hackathons, Swimming, Travelling, Trekking
        </p>
      </mat-card-content>
    </mat-card>
  </div>
    </div>
</div>
