<div class="layout">
  <div class="container-fluid"> 
    <div class="header">
        <div class="pageHeading">
          Saurabh Rai
        </div>
        <div class="pageSubHeading">
       New York, NY 10038 | <a  style="color: #fff;"target="_blank"  href = "mailto: saurabhrai34@gmail.com">saurabhrai34@gmail.com</a> | <a  style="color: #fff;"target="_blank" href="https://www.linkedin.com/in/saurabh-rai">LinkedIn</a>
        </div>
    </div>

  <div>
    <mat-card class="mat-elevation-z5">
      <mat-card-header style="margin-left: -16px;">
        <mat-card-title>SUMMARY</mat-card-title>
        <mat-card-subtitle><hr/></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Software Engineer with 5 years’ experience in software development, Agile Methodology, and testing strategies. Expert in React, Angular, NodeJS, JavaScript, Java, App engine, DevOps, Compute Engine, Test Automation and Microservices Architecture.       
        </p>
      </mat-card-content>
    </mat-card>
<br/>
<mat-card class="mat-elevation-z5">
  <mat-card-header style="margin-left: -16px;">
    <mat-card-title>TECHNICAL SKILLS</mat-card-title>
    <mat-card-subtitle><hr/></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    
    <div class="row" *ngFor="let data of technicalSkills" style="margin-bottom: 12px;">
      <div class="col-lg-12 heading">
       {{data.title}}        
      </div>
     
      <div class="col-lg-12"  style="display: flex;">
        <span *ngFor="let data of data.value" style="margin-right: 8px;">
          <mat-chip-list>
            <mat-chip >{{data}}</mat-chip>
          </mat-chip-list>
        </span>   
     
    
      </div>
  

    </div>

  </mat-card-content>
</mat-card>
<br/>
<mat-card class="mat-elevation-z5">
  <mat-card-header style="margin-left: -16px;">
    <mat-card-title>EXPERIENCE</mat-card-title>
    <mat-card-subtitle><hr/></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let company of companies">
      <div class="row heading">
        <div class="col-lg-8">
       <a  style="color: #000;"target="_blank" href= {{company.href}}> 
        {{company.name}} </a>     
        </div>
        <div class="col-lg-4"style="text-align: right;">
          {{company.location}}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          {{company.position}}        
        </div>
        <div class="col-lg-4"style="text-align: right;">
          {{company.dateRange}}
        </div>
      </div>
      <div class="row" *ngFor="let point of company.points">
        <div class="col-lg-12 list">
         {{point}}        
        </div>
        </div>
        <br/>
    </div>
   
  
  </mat-card-content>
</mat-card>
<br/>
    <mat-card class="mat-elevation-z5">
      <mat-card-header style="margin-left: -16px;">
        <mat-card-title>EDUCATION</mat-card-title>
        <mat-card-subtitle><hr/></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row heading">
          <div class="col-lg-8">
            Pace University, Seidenberg School of Computer Science and Information Systems
          </div>
          <div class="col-lg-4"style="text-align: right;">
            New York, NY
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <a  style="color: #000;"target="_blank"  href = "https://drive.google.com/file/d/1_3H6_7q0dbcPgn4wECt1Oj4cpEk3z5HB/view?usp=sharing">
              Master of Science (MS) in Computer Science| <b> Concentration</b>: Software Development | <b>GPA</b>: 3.84   
            </a>
                  
          </div>
          <div class="col-lg-4"style="text-align: right;">
            May 2023 
          </div>
        </div>
        <br/>
        <div class="row heading">
          <div class="col-lg-8">
            New Horizon College of Engineering Bangalore (NHCE)                  
          </div>
          <div class="col-lg-4"style="text-align: right;">
            Bangalore, India
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <a  style="color: #000;"target="_blank"  href = "https://drive.google.com/file/d/165eGxpAmdD75zDISDPlheVaibfS_vWC1/view?usp=sharing">
              Bachelor of Engineering (BE) in Computer Science       
            </a>
          </div>
          <div class="col-lg-4"style="text-align: right;">
            June 2017
          </div>
        </div>
      
      </mat-card-content>
    </mat-card>
    <br/>
    <mat-card class="mat-elevation-z5">
      <mat-card-header style="margin-left: -16px;">
        <mat-card-title>RELEVANT COURSEWORK</mat-card-title>
        <mat-card-subtitle><hr/></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Algorithm and Data Structures | Parallel Computing | Computer System and Concepts |Artificial Intelligence | RDBMS|
          Computer Networks | Web Design | DBMS | Data Communication and Networks | Advanced SQL | OOPS with C++ |
          Computer Graphics | Network Security | Asp.net with C# | Advanced Java | Linux Administration | Data Warehousing        </p>
      </mat-card-content>
    </mat-card>
<br/>
   
    <mat-card class="mat-elevation-z5">
      <mat-card-header style="margin-left: -16px;">
        <mat-card-title>ACADEMIC</mat-card-title>
        <mat-card-subtitle><hr/></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
          <div class="row heading">
            <div class="col-lg-8">
           <a  style="color: #000;"target="_blank" href= ''> 
            Computer Research Center, Pace University </a>     
            </div>
            <div class="col-lg-4"style="text-align: right;">
              New York, NY
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              Student Assistant       
            </div>
            <div class="col-lg-4"style="text-align: right;">
              Jan 2022 – May 2022
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 list">
              Provided technical support to departments, working closely to troubleshoot issues for students and professors
            </div>
            </div>
            <br/>
       
      
      </mat-card-content>
      <mat-card-header style="margin-left: -16px;">
        <mat-card-title>ACADEMIC PROJECTS</mat-card-title>
        <mat-card-subtitle><hr/></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="heading">
          <a style="color: #000;"target="_blank"  href = "https://docs.google.com/document/d/1YsiF40GqKXBc5rD5fY60D4bWBCXKnfYW/edit?usp=sharing&ouid=110074351772125606275&rtpof=true&sd=true">
          Trox(e-commerce web application) Project Manager | Full Stack Developer           
       </a>
        </div>
        <div>
          Pace University          
        </div>
        <div class="row">
          <div class="col-lg-12 list">
            Lead team of 5 to design and develop e-commerce web application using React, Nodejs, & MongoDB  
          </div>
          <div class="col-lg-12 list">
            Design architecture of web application to create a plan for storing data, APIs, and user’s experience, enabling to create an e-commerce website
          </div>
          <div class="col-lg-12 list">
            Create RESTful APIs to develop interaction between front and back-end of both web applications, implementing UI and business logic, using React and NodeJS        
          </div>
          <div class="col-lg-12 list">
            Deploy front and back-end code on GCP (Google Cloud Platform) using App Engine and Compute Engine to host new applications on distributed server
           </div>
           <div class="col-lg-12 list">
            Designed schema for data storage and installed MongoDB in virtual machine to store data on Compute Engine            </div>
           <div class="col-lg-12 list">
            Executed RESTful APIs calls and integrated channel advisor APIs and search.io APIs and Algolia to enable sellers to send product information and to retrieve faster search result data           </div>
           
          </div>    

          <br/><br/>
          <div class="heading">
         <a style="color: #000;"target="_blank"  href = "https://drive.google.com/file/d/0B8EWvIi0P2GyU2lqaW5jZ3RYMjQ/view?usp=sharing&resourcekey=0-xOhse1nFFHhDtoVtB7f1GQ">
          PREDICTIVE SCHEDULING OF SORTING ALGORITHMS
         </a> 
          </div>
          <div>
            New Horizon College of Engineering        
          </div>
          <div class="row">
            <div class="col-lg-12 list">
              Sorting of big data according to type of data and then applying appropriate sorting algorithm, Resulting in fast sorting of big data.            
            </div>
            <div class="col-lg-12 list">
              Comparisons of sorting algorithms are based on different scenarios. Comparing sorting algorithms according to their complexity, methods used like comparison-based or non-comparison based, internal sorting or external sorting and also describe the advantages and disadvantages. One can only predict a suitable sorting algorithm after analyzing the particular problem i.e. the problem is of which type (small number, large number, repeated value).            
            </div>
            </div>    
      </mat-card-content>
    </mat-card>
    <br/>
  
    <mat-card class="mat-elevation-z5">
      <mat-card-header style="margin-left: -16px;">
        <mat-card-title>LANGUAGES</mat-card-title>
        <mat-card-subtitle><hr/></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          English, Hindi
        </p>
      </mat-card-content>
    </mat-card>
<br/>
    <mat-card class="mat-elevation-z5">
      <mat-card-header style="margin-left: -16px;">
        <mat-card-title>INTERESTS</mat-card-title>
        <mat-card-subtitle><hr/></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Coding, Hackathons, Swimming, Traveling, Trekking
        </p>
      </mat-card-content>
    </mat-card>
  </div>
    </div>
</div>
